

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ConnectIT</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet" />

  <script src="scripts/responsive.js" defer></script>
</head>

<body>
<main>
  <h1>Welcome to ConnectIT, please enter your details</h1>
  <h2>no impersonation allowed</h2>
  <form action="/" method="post">
    <div class="form-control">
      <label for="name">name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-control">
      <label for="regno">Reg no</label>
      <input type="text" id="regno" name="Regno" required />
    </div>
    <div class="form-control">
      <label for="Skills">Skills</label>
      <input type="text" id="Skills" name="skill" required />
    </div>
    <button>Submit your details</button>
  </form>
</main>
</body>

</html>